.topix__wrap {
    background-image: linear-gradient(-45deg, #ffead0 25%, #fdefdd 25%, #fdefdd 50%, #ffead0 50%, #ffead0 75%, #fdefdd 75%, #fdefdd 100%);
    background-size: 40px 40px;
    padding-top: 33px;
    padding-bottom:23.7px;
}

.topix {
    margin: 0 19px;
}

.tpix__area {
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 8px);
    background-size: 4px 1px;
    background-position: left top;
    background-repeat: repeat-x;
}

.topix__ttl {
    width: 128.7px;
    margin: 0 auto;
    margin-bottom: 23px;
}

.topix__sub__ttl {
    color: #666666;
    font-weight: normal;
    text-align: center;
    margin-top: 16.5px;
}

.tpix__area .topix__pc__wrap:nth-child(1) {}

.topix__border {
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 8px);
    background-size: 4px 1px;
    background-position: left bottom;
    background-repeat: repeat-x;
}

.ttl-date__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding-top: 16px;
}

.topix__info {
    color: #fff;
    padding: 3.5px;
    text-align: center;
    width: 93px;
    font-size: 12px;
    margin-right: 6.8px;
    border-radius: 5px;
}

.news__ttl {
    background-color: #b60005;
}

.date {
    font-size: 14px;
}

.topix__txt {
    line-height: 1.4;
    padding-bottom: 16px;
    margin-top: 10px;
}

.event__ttl {
    background-color: #f7931e;
   
}

.news__btn__wrap {
    margin-top: 28px;
}

.news__btn {
    width: 185.4px;
    background-color: #b60005;
    padding: 11px 0;
}

@media screen and (min-width:768px) {
.topix__wrap {
    background-image: linear-gradient(-45deg, #ffead0 25%, #fdefdd 25%, #fdefdd 50%, #ffead0 50%, #ffead0 75%, #fdefdd 75%, #fdefdd 100%);
    background-size: 100px 100px;
    padding-top: 45.5px;
    padding-bottom: 36px;
}

   

    .topix {
        /* display: flex; */
        max-width: 900px;
        margin: 0 auto;
        align-items: flex-end;
    }

    .topix__ttl {
        width: 154.4px;
        margin: 0 auto;
        margin-bottom: 44px;
    }

    .topix__sub__ttl {
        
        margin-top: 22px;
    }



    .topix__pc__wrap {
        display: flex;
        align-items: center;
        padding-bottom: 13px;
    }

    .topix__txt {

        margin-left: 15px;
        padding:0;
    }

    .news__btn__wrap {
        margin-top: 45px;
    }
}